<div class="card h-100">
	<div class="card-body">
		<h5 class="card-title">{{ vehicle.name | uppercase }}</h5>
		<hr />
		<p class="card-text">
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum porro nobis
			quaerat ullam. Facere, consequatur.
		</p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<b>Miles per gallon:</b> {{ vehicle.Miles_per_Gallon }}
		</li>
		<li class="list-group-item"><b>Cylinders:</b> {{ vehicle.Cylinders }}</li>
		<li class="list-group-item">
			<b>Displacement:</b> {{ vehicle.Horsepower }}
		</li>
		<li class="list-group-item"><b>Year:</b> {{ vehicle.Year }}</li>
		<li class="list-group-item"><b>Origin:</b> {{ vehicle.Origin }}</li>
	</ul>
	<div class="card-body">
		<a href="#" class="card-link">More Info...</a>
	</div>
</div>